<div id="item5" class="f-cf">
  <div id="item7"><p class="center f-fp">
    <span class="style207"><span class="bodysmall"><span class="style15"><span class="bodysmall"><strong>Аккаунт</strong></span></span></span></span>
  </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span></span></span>Пользователь: <span class="style11">{{user.firstName}} {{user.secondName}} {{user.lastName}}</span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span></span></span>Счет открыт: <span class="style11">12.10.2016</span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span>QBF ID: <span class="style11">NFGT-13-4583</span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span>Почта: <span class="style11">{{user.mail}}</span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span>Телефон: <span class="style11">{{user.phone}}</span></span></span></span></span></span>
    </p>
    <div id="item13" class="f-cf"><p class="center f-fp f-lp">
      <span class="style397"><span class="bodysmall"><span class="style178"><a routerLink="/account" class="item7;item13">Редактировать</a> <span class="lighten"><span class="style15">&gt;</span></span></span></span></span>
    </p>
    </div>
  </div>
  <div id="item11"><p class="center f-fp">
    <span class="style207"><span class="bodysmall"><span class="style15"><span class="bodysmall"><strong><span class="style207"><span class="bodysmall"><span class="style15"><span class="bodysmall"><strong>Подключенные услуги</strong></span></span></span></span></strong></span></span></span></span>
  </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style187"><strong>ОБЛИГАЦИОННЫЙ ПОРТФЕЛЬ</strong></span></span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">•</span></span></span></span></span></span></span></span></span></span> <a href="account-portfolio.html" class="item11">Посмотреть портфель</a> &gt;</span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">•</span></span></span></span></span></span></span></span></span></span> <a href="account-additional-finance.html" class="item11">Пополнить счет</a> &gt;</span></span></span></span></span></span></span></span></span></span></span>
    </p>
    <p class="style403">&#xA0;</p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style187"><strong>ОБЛИГАЦИОННО - ОПЦИОННЫЙ ПОРТФЕЛЬ</strong></span></span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">•</span></span></span></span></span></span></span></span></span></span> <a href="account-portfolio.html" class="item11">Посмотреть портфель</a>&gt;</span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">•</span></span></span></span></span></span></span></span></span></span> <a href="account-additional-finance.html" class="item11">Пополнить счет</a> &gt;</span></span></span></span></span></span>
    </p>
    <div id="item12" class="f-cf"><p class="center f-fp f-lp">
      <span class="style397"><span class="bodysmall"><span class="style178"><a href="account-service.html" class="item11;item12">Подключить другие услуги</a> <span class="lighten"><span class="style15">&gt;</span></span></span></span></span>
    </p>
    </div>
  </div>
</div>
<div id="item3" class="f-cf">
  <div id="item18"><p class="center f-fp">
    <span class="style207"><span class="bodysmall"><span class="style15"><span class="bodysmall"><strong><span class="style207"><span class="bodysmall"><span class="style15"><span class="bodysmall"><strong>Услуги</strong></span></span></span></span></strong></span></span></span></span>
  </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span></span></span><a href="account-service.html" class="item18">Услуги компании</a> <span class="style11">&gt;</span></span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-additional-finance.html" class="item18">Пополнение счета</a> <span class="style11">&gt;</span></span></span></span></span></span></span></span></span></span></span></span>
    </p>
    <p class="style403">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-notices.html" class="item18">Уведомления / Сообщения</a> <span class="style11">&gt;</span></span></span></span></span></span></span></span></span>
    </p>
    <p class="style402">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-function.html" class="item18">Управление функциями кабинета</a> <span class="style11">&gt;</span></span></span></span>
    </p>
    <p class="style402 f-lp">
      <span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-faq.html" class="item18">Помощь</a> <span class="style11">&gt;</span> </span>
    </p>
  </div>
  <div id="item21"><p class="center f-fp">
    <span class="style397"><span class="bodysmall"><strong>Безопастность</strong></span></span>
  </p>
    <p class="style402">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span></span></span>Конфиденциальность <span class="style11">&gt;</span></span>
    </p>
    <p class="style402">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span></span></span><a href="account-management.html" class="item21">Восстановление пароля</a> <span class="style11">&gt;</span></span>
    </p>
    <p class="style402">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-management.html" class="item21">Смена пароля</a> <span class="style11">&gt;</span></span></span></span>
    </p>
    <p class="style402">
      <span class="bodysmall"><span class="style15"><span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-management.html" class="item21">Управление аккаунтом</a> <span class="style11">&gt;</span></span></span></span>
    </p>
    <p class="style402 f-lp">
      <span class="bodysmall"><span class="style397"><span class="bodysmall"><span class="style11">• </span></span></span><a href="account-faq.html" class="item21">Техническая поддержка аккаунта</a> <span class="style11">&gt;</span> </span>
    </p>
  </div>
</div>
